$color_white: #ffffff;
$color_green_dark: #25733C;
// $color_green_darker: #005428;
$color_green_bg: #fbfdfb;
$color_gray: #797A7D;
$color_gray_greenish: #797D79;
$color_gray_greenish_separator: #edf3ed;


$color_main_text: $color_gray;
$color_main_theme: $color_green_dark;
// $color_table_text: $color_gray_greenish;
$color_page-background: $color_white;
